body {
	background-color: rgb(205, 255, 218);
}

header {
	padding-top: 20px;
	padding-bottom: 25px;
	margin: 1px;
	background-color: green;
	color: white;
	text-align: center;
	font-family: Copperplate, "Copperplate Gothic Light";
	font-weight: bolder;
	font-size: x-large;
	height: auto;
}

footer {
	padding: 15px;
	margin: 1px;
	background-color: #000000;
	color: white;
	font-size: small;
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
}

.btn {
	border-radius: 150px;
	border-color: black;
	border-width: 2px;
	padding: 10px;
	width: 4cm;
	font-size: large;
    text-align: center;
	font-weight: bolder;
	margin: 2%;
	background-color: azure;
}

button:hover {
	background-color: rgb(9, 255, 0);
}

button:focus {
	background-color: chartreuse;
}

.buttons {
	text-align: center;
	align-items: center;
	padding-top: 40px;
}

.plain-text {
	padding-top: 125px;
	font-size: xx-large;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

.content-table {
	display: table;
	min-height: 525px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	align-items: center;
	text-align: center;
}

.content {
	min-height: 525px;
	height: auto;
	text-align: center;
}

.initial-input {
	font-size: x-large;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	padding: 30px;
	display: table;
	
}

.table-class {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: max-content;
	border-collapse: collapse;
	font-family: Arial, Helvetica, sans-serif;
}

td, th {
	border: 1px solid black;
	padding: 2%;
	display: table-cell;
}

.grade {
	width: 60px;
	height: 25px;
	text-align: center;
	font-size: large;
}

.credit {
	width: 60px;
	height: 25px;
	text-align: center;
	font-size: large;
}

#table-btn {
	width: 75px;
	height: 30px;
	border-radius: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: small;
}

#table-btn:hover {
	background-color: rgb(177, 255, 177);
}

::placeholder {
	width: 5px;
}

.submit {
	text-align: center;
	display: table;
	padding: 10px;
	margin: 0 auto;
}

.output {
	text-align: center;
	font-size: larger;
	font-weight: bolder;
	padding: 10px;
	width: auto;
	font-family: Arial, Helvetica, sans-serif;
}

#output1, #output2 {
	text-align: center;
	font-size: larger;
	font-weight: bolder;
	padding: 10px;
	width: auto;
	font-family: Arial, Helvetica, sans-serif;
}

.all-input {
	display: table;
	text-align: center;
	margin: 0 auto;
}

.btn-small {
	border-radius: 150px;
	border-color: black;
	padding: 5px;
	width: 80px;
	font-family: cursive;
	font-size: medium;
    text-align: center;
	font-weight: bold;
}

#btn-column {
	column-width: 90px;
}